.prev-pickup h1 {
  text-align: center;
  margin: 1em;
}

.prev-pickup .pickup-item {
  width: 70%;
  margin: auto;
  box-shadow: 0px 0px 10px 0px rgb(43 52 59 / 10%);
  background-color: #fff;
  border-radius: 2em;
  margin-bottom: 2em;
  padding: 2em;
}

.prev-pickup .pickup-item li {
  gap: 2em;
  justify-content: center;
  align-items: center;
}

.prev-pickup .pickup-item .avatar {
  width: 30%;
}

.prev-pickup .pickup-item .avatar img {
  width: 100%;
  height: 20vh;
  object-fit: cover;
  border-radius: 1.2em;
}

/* .prev-pickup table {
  width: 60%;
  margin: auto;
  box-shadow: 0px 0px 10px 0px rgb(43 52 59 / 10%);
  text-align: left;
  box-sizing: border-box;
}

.prev-pickup table thead {
  background-color: var(--black);
  color: #fff;
  font-weight: 500;
}

.prev-pickup table tbody tr:nth-child(2n) {
  background-color: var(--emerald-green);
  color: #fff;
  border: .1em solid var(--black);
}

.prev-pickup table tr th,
.prev-pickup table tr td {
  padding: 0.5em 1em;
} */
