.textCard {
  font-size: 30px;
  color: white;
  font-weight: bold;
}

.cardCounter{
    padding: 50px;
    background: rgba(0, 0, 0, 0.5);
    position: relative;
    height: 16rem;
    width: 50%;

}
/* .col-4{
    width: 20%;
    height: 16rem;
} */
