/*
* HEADER BANNER
*/
.header {
  background-size: cover;
}

.slide-item {
  position: relative;
  width: 100%;
  height: 90vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.slide-item img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.slider-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  cursor: context-menu;
  text-align: center;
}

.slider-container h1 {
  font-size: 4.5rem;
  text-transform: uppercase;
}

.slider-container .slider_btn {
  background: var(--sap-green);
  padding: 0.5em 1.5em;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  box-sizing: border-box;
  border-radius: 2em;
  border: 0.2em solid var(--sap-green);
  transition: 0.3s;
}

.slider-container .slider_btn:hover {
  background: none;
  border: 0.2em solid var(--sap-green);
}

.swiper-button-next::after,
.swiper-button-prev::after {
  color: #fff;
  font-size: 1rem;
}

.home .slider-container p {
  color: #fff;
}

/* 
* TYPES OF WASTES 
*/

.wastes {
  width: 90%;
  margin: 6em auto;
}

.wastes h1,
.stats .right .right_subcontainer h1 {
  text-align: center;
  font-size: 2.5rem;
}

.waste__container {
  width: 90%;
  margin: auto;
}

.waste_btn_container {
  display: flex;
  margin: 2em 0;
  justify-content: space-between;
}

.waste_btn_container .btn {
  padding: 2em;
  width: 10%;
  /* flex: 1 1 auto; */
  cursor: context-menu;
  text-align: center;
  border-radius: 0.3em;
  background: var(--bg-grey);
}

.waste_btn_container .btn h5 {
  font-size: 1.2rem;
  font-weight: 600;
}

.waste_btn_container .btn img {
  width: 4rem;
  filter: invert(64%) sepia(73%) saturate(313%) hue-rotate(85deg)
    brightness(88%) contrast(89%);
}

.waste_btn_container .btn.active {
  background: var(--emerald-green);
  position: relative;
  color: white;
}

.waste_btn_container .btn.active img {
  filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(229deg)
    brightness(102%) contrast(101%);
}

.waste_btn_container .btn.active::after {
  display: block;
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  width: 20px;
  height: 20px;
  border-radius: 0 0 0 .3em;
  border-width: 0;
  transform: translateX(-50%) rotate(-45deg);
  transition-delay: 0.07s;
  background-color: var(--emerald-green);
}

/*
* STATS
*/

.stats {
  display: flex;
  position: relative;
  margin: 10em auto;
}

.stats .left {
  width: 40%;
}

.stats .left img {
  width: 100%;
  height: 80vh;
}

.stats .right {
  position: absolute;
  margin-top: 4em;
  margin-left: -4em;
  right: 0;
  top: .5em;
  width: 70%;
  z-index: -1;
  height: 100%;
  background: var(--bg-grey);
}

.stats .right .right_subcontainer {
  margin: 5em 14em;
}

.stats .right .right_subcontainer h1 {
  text-align: left;
}

.stats .right_subcontainer ul {
  list-style: none;
  padding: 0;
}

.stats .right_subcontainer ul li {
  display: flex;
  align-items: center;
  gap: 0.5em;
  margin-bottom: 0.5em;
  font-weight: 500;
}

.stats .right_subcontainer ul li .icon {
  color: var(--apple-green);
}

.stats .right_subcontainer .progress_group h6 {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: .2em;
}

.stats .right_subcontainer .progress_container {
  margin: 3em auto;
}

.stats .right_subcontainer .progress_group h6 span:last-of-type {
  float: right;
}

.stats .progress_container .progress_group .progress_bar {
  height: 0.4em;
  width: 100%;
  padding-bottom: .2em;
  border-bottom: .2em solid var(--black);
  margin-bottom: 2em;
}

.stats .progress_container .progress_group .progress_bar .bar {
  background-color: var(--apple-green);
  height: inherit;
  width: 1%;
}
