.waste_card {
    display: flex;
    gap: 3em;
    margin: 3em 0;
  }
  
  .waste_card img {
    width: 40%;
  }
  
  .waste_card .content_container h3 {
    font-size: 2rem;
    font-weight: 500;
  }
  
  .waste_card .content_container ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
  .waste_card .content_container ol li {
    counter-increment: step-counter;
    margin-bottom: 5px;
    /* display: flex; */
  }
  
  .waste_card .content_container ol li::before {
    content: counter(step-counter);
    margin-right: 20px;
    font-family: var(--font-head);
    background-color: var(--emerald-green);
    color: white;
    font-size: 1.3rem;
    font-weight: 500;
    padding: 7px 17px;
    border-radius: 50%;
  }
  
  .waste_card .content_container ol li h4 {
    font-weight: 500;
    display: inline-block;
    font-size: 1.3rem;
  }
  
  .waste_card .content_container ol li::marker {
    background-color: var(--sap-green);
    font-weight: 500;
    font-size: 1.3rem;
  }
  
  .waste_card .content_container ol li p {
    /* margin: 0; */
    margin-left: 4.3em;
  }
  